doctype html
html
  head
    title
  body
    form(method = 'post', action='/register')
        label username
        input(type='text',name='username') 
        br
        label password
        input(type='password',name='password') 
        br
        input(type='submit', value='Register')